:root {
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
}

/* start box */

.d-flex {
    display:flex;
}

.d-block {
    display: block;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.f-wrap {
    flex-wrap: wrap;
}

.h-full {
    height: 100%;
}
.w-100 {
    width: 100px;
}
.h-100 {
    height: 100px;
}
/* end box */
/* start padding */
.p-15 {
    padding: 15px;
}
.p-10 {
    padding: 10px;
}
.p-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pl-15 {
    padding-left: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}
.p-relative {
    position: relative;
}
/* end padding */
/* start color */
.bg-white {
    background-color: white;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-white {
    color: #fff;
}
.c-black {
    color: black;
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-red {
    color: var(--red-color);
}
.c-green {
    color: var(--green-color);
}
.bg-eee {
    background-color: #eee;
}
.c-grey {
    color: var(--grey-color);
}

.b-none {
    border: none;
}

.border-ccc {
    border: 1px solid #ccc;
}
/* end color*/
/* start margin */
.m-20 {
    margin: 20px;

}
.m-15 {
    margin: 15px;

}
.m-0 {
    margin: 0;

}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mt-15 {
    margin-top: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-15 {
    margin-bottom: 15px;
}
.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}
/* endf margin */
/* start text align */
.txt-c {
    text-align: center;
}
/* end text align */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
/* start font */
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
/* end font */
/* start border */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}


/* end border */

@media (max-width:767px) {
    .hide-mobile {
        display: none;
    }
    .txt-c-mobile {
        text-align: center;
    }
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
    .mb-20-mobile {
        margin-bottom: 36px;
    }
}

.border-eee {
    border: 1px solid #eee;
}
/* stART COMPONENT */
.center-flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.between-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
/* END COMPONENT */