* {
    box-sizing: border-box;
}
:root {
    --blue-color:#0075ff;
    --blue-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
    --transition: 0.3s;
}
body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
}
*:focus {
    outline: none;
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
a {
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
.main-h2 {
    margin: 20px 10px 40px;
}

.main-h2::before,
.main-h2::after {
    content: "";
    position: absolute;

    left: 0;
    bottom: -10px;
    height: 3px;
    background-color: #fff;
}

.main-h2::before {
    background-color: #fff; 
    width: 120px;
}

.main-h2::after {
    width: 40px;
    background-color: black;
}
.padge {
    background-color: #f1f5f9;
    min-height: 150vh;
}
/* start sidebar */
.sidebar {
    width: 250px;
    box-shadow: 0px 0px 10px #ddd ;
}

@media (max-width:767px) {
    .sidebar {
        width: 100px;
        padding: 10px;
    }
    
    .sidebar h3 {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .sidebar h3::before,
    .sidebar h3::after {
        display: none;
    }
    .sidebar ul li a {
        justify-content: center;
    }
    
}
.sidebar > h3 {
    margin-bottom: 50px;
}
.sidebar > h3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -20px;
    background-color: black;
    height: 3px;
    border-radius: 6px;
    width: 100px;
    transform: translateX(-50%);
}
.sidebar > h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    background-color: black;
    border-radius: 50%;
    border: 6px solid white;
    bottom: -30px;
    transform: translateX(-50%);
}
.sidebar ul {
    
}
.sidebar ul li  {

}
.sidebar ul li a {
    transition: 0.3s;
    
}

.sidebar ul li a:hover,
.sidebar ul li .active {
    background-color: #f6f6f6;
}
.sidebar ul li a span {
    font-size: 14px;
}
/* end sidebar */
/* start content */
.content {
    overflow:hidden;
}
.head .search::before {
    content: "\f002";
    position: absolute;
    font-family: 'FontAwesome';
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .search input {
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-left:5px;
    padding-left: 30px;
    width: 160px;
    transition: 0.3s;
}
.head .search input:focus {
    width:200px ;
}
.head .search input:focus::placeholder {
    opacity: 0;
}

.head  .icons .notification::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    right:-5px;
    top: -5px;
    border-radius: 50%;
}

.head  .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill,minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .wrapper {
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
    
}
/* end content */
/* start welcome */
.welcome {
    overflow: hidden;
}
.welcome .intro  img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    width: 64px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 2px;
    margin-left: 20px;
    margin-top: -32px;
    box-shadow: 0 0 5px #ddd;
}
.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body > div {
    flex: 1;
}

.welcome  .visit {
    margin: 0px 15px 15px auto ;
    transition: var(--transition);
}

.welcome  .visit:hover {
    background-color: var(--blue-alt-color);
}
@media (max-width:767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* end welcome */
/* start draft */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}
.quick-draft .save {
    margin-left: auto;
    transition:var(--transition) ;
    cursor: pointer;
}
.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}
/* end draft */
/* start target */
.targets-row .icon {
    width: 80px;
    height: 80px;
    background-color:rgb(0 117 255 / 20%) ;
    margin-right: 10px;
}

.targets-row .details {
    flex: 1;
} 

.targets-row .details .progress {
    height: 4px;
}

.targets-row .details .progress > span {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.targets-row .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 12px;
}

.targets-row .details  .progress > span span::after {
    content: "";
    border-color: transparent ;
    border-style:solid ;
    border-width: 5px;
    position: absolute;
    left: 50%;
    bottom: -9px;
    transform: translateX(-50%);
}

.targets-row .details  .progress > .blue span::after {
    border-top-color:var(--blue-color);
}

.targets-row .details  .progress > .orange span::after {
    border-top-color:var(--orange-color);
}

.targets-row .details  .progress > .green span::after {
    border-top-color:var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color:rgb(0 117 255 / 20%) ;
}

.orange .icon,
.orange .progress {
    background-color:#f59e0b33 ;
}

.green .icon,
.green .progress {
    background-color:rgb(34 197 94 / 20%) ;
}
/* end target */
/* start tickets */
.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .tickets .box {
        width: 100%;
    }
}
/* end tickets */
/* start news */
.latest .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.latest .news-row img {
    width: 100px;
    margin-right: 15px;
}

.latest .info {
    flex-grow: 1;
}

.latest .info h3 {
    margin: 0 0 6px;
    font-size: 16px;

}

.latest .lable {
    font-size: 10px;
}

@media (max-width:767px) {

    .latest .lable {
        width: fit-content;
        margin: 10px auto;
    }
}
/* end news */
/* start tasks */
.tasks .task-row {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.tasks .info {
    flex-grow: 1;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3 ,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    cursor: pointer;
    transition: 0.3s;
}

.tasks .delete:hover {
    color: var(--red-color);
}

/* end tasks */
/* start uploads */
.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}
/* end uploads */
/* start Project  */
.last-project ul::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
    left: 10px;
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}

.last-project .launch-icon {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.1;
}
/* end Project  */
/* start animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }

    to {
        background-color: white;
    }
}
/* end animation */
/* start reminders */

.reminder ul li .key {
    width: 15px;
    height: 15px;
}

.reminder ul li > .blue {
    border-left:2px solid var(--blue-color) ;
}

.reminder ul li > .green {
    border-left:2px solid var(--green-color) ;
}
.reminder ul li > .orange {
    border-left:2px solid var(--orange-color) ;
}
.reminder ul li > .red {
    border-left:2px solid var(--red-color) ;
}
/* end reminders */
/* start latest post */
.latest-post .avatar {
    width: 48px;
    height: 48px;
}
.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height:140px ;
}
/* end latest post */
/* start stats */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: var(--transition);
}
.social-media .box i:hover {
    transform: rotate(5deg);
}
.social-media .twitter {
    background-color:#1da0f252 ;
    color:#1da1f2;
}
.social-media .twitter i ,
.social-media .twitter a {
    background-color:#1da1f2;
}

.social-media .facebook {
    background-color:#1876f261 ;
    color:#1da1f2;
}
.social-media .facebook i ,
.social-media .facebook a {
    background-color:#1877f2;
}

.social-media .youtube {
    background-color:#ff000058 ;
    color:#ff0000;
}
.social-media .youtube i ,
.social-media .youtube a {
    background-color:#ff0000;
}

.social-media .linkedin {
    background-color:#0076b562;
    color:#0077b5;
}
.social-media .linkedin i ,
.social-media .linkedin a {
    background-color:#0077b5;
}

/* end stats */
/* start projects */
.projects .responsive-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    border-spacing: 0 ;
}
.projects table thead td {
    background-color: #eee;
    font-weight: bold; 
}
.projects table  td {
    padding: 15px;
}
.projects tbody td  {
    border-bottom:1px solid #eee ;
    border-left:1px solid #eee ;
    transition: var(--transition);
}
.projects tbody tr td:last-child  {
    border-right:1px solid #eee ;
}
.projects tbody tr:hover td {
    background-color: #faf7f7;
}
.projects tbody td  {
    border-bottom:1px solid #eee ;
    border-left:1px solid #eee ;
}
.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.projects table img:not(:first-child) {
    margin-left: -20px;
}
/* end projects */
/* start settings */
.toggle-checkbox {
    -webkit-appearance:none ;
    appearance:none ;
    display: none;
}

.toggle-switch {
    width: 78px;
    height: 20px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    background-color: #ccc;
}

.toggle-switch:before {
    content: "\f00d";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    background-color: white;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    transition: var(--transition);
}

.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked + .toggle-switch:before {
        left: 60px;
        color: var(--blue-color);
        content: "\f00c";
}

.settings-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
    .settings-page {
        grid-template-columns:  minmax(100px, 1fr);
        margin-left:10px ;
        margin-right: 10px;
        gap: 10px;
    }
}

.settings-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}

.settings-page .sec-box {
    padding-bottom: 15px;
}

.settings-page .sec-box:not(:last-of-type){
    border-bottom: 1px solid #eee;
}

.settings-page .sec-box .button {
    transition: var(--transition);
}

.settings-page .sec-box .button:hover {
    background-color: var(--blue-alt-color);
}

 :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #ccc;

}

.settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
}

.settings-page .social-med i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 6px 0 0 6px;
    border-right:none ;
    transition: var(--transition);
}

.settings-page .social-med input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    border-radius:0 6px 6px 0 ;
}

.settings-page .social-med > div:focus-within i  {
    color: black;
}

.settings-page  .control input[type="checkbox"]  {
    appearance: none;
}

.settings-page  .control label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.settings-page  .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    top: 50%;
    border: 2px solid black;
    position: absolute;
    left: 0;
    margin-top: -9px;
    border-radius: 6px;
}

.settings-page  .control label:hover::before {
    border-color: var(--blue-alt-color);
}


.settings-page  .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    width: 18px;
    height: 18px;
    color: white;
    transform: scale(0) rotate(360deg);
    transition: var(--transition);
    border-radius: 6px;
}

  .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
}

 input[type="radio"] {
    appearance: none;
}

.backup .date input[type="radio"]:checked + label::after {
    transform: scale(1);
}

.backup .date input[type="radio"]:checked + label::before {
    border-color:var(--blue-alt-color) ;
}

.backup .date label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.backup .date label::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 3px;
    left: 5px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: var(--transition);
    transform: scale(0);
}

.backup .date label::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    margin-top: -11px;
    left: 0;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    top: 50%;
}

.backup .servers {
    border-top: 1px solid #eee;
    padding-top:20px ;
}

@media (max-width : 767px) {
    .backup .servers {
        flex-wrap: wrap;
    }
}


.backup .servers .server {
    border: 2px solid #eee;
    position: relative; 
}

.backup .servers .server label {
    cursor: pointer;
}

.servers input[type="radio"]:checked + .server {
    border-color: var(--blue-color);
}


/* end settings */
/* start profil */
.avatar-box {
    width: 300px;
}
@media (min-width: 768px) {
    .avatar-box {
        border-right: 1px solid #eee;
    }
}

@media (max-width: 767px) {
    .profile .overview {
        flex-direction: column;

    }
}
.profile .avatar-box > img {
    width: 120px;
    height: 120px;

}
.profile .avatar-box .level {
    height: 4px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}
.profile .avatar-box .level span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}

.profile .info .box {
    flex-wrap: wrap;
    border-bottom-left-radius: 1px solid #eee;
    transition: var(--transition);
}

.profile .info .box:hover {
    background-color: #f9f9f9;
}

.profile .info .box > div {
    min-width: 230px;
    padding: 10px 0 0;
}


.profile .info .box h4 {
    font-weight: normal;
}

.other  .skills {
    flex:1;
    
}
.other  .skills ul li {
    padding: 15px 0;
}
.other  .skills ul li:not(:last-child)  {
    border-bottom: 1px solid #eee;
    margin-right: 5px;
}
.other  .skills ul li span {
    display: inline-flex;
    padding: 4px 10px ;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
}
.other  .actives {
    flex: 2;
}
.other  .actives .active:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.other  .actives .active {
    display: flex;
}
.other  .actives .active img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}
@media (min-width:768px){
.other  .actives .active .date {
    margin-left: auto;
    text-align: right;
}
}

@media (max-width:767px) {

    .other  {
        flex-direction: column;
        text-align: center;
    }
    .other  .actives .active {
        flex-direction: column;
    }

    .other  .actives .active img {
        margin: 15px auto;
    }
    .other  .actives .active {
        margin-top:15px ;
    }
}
/* end profil */
/* start project */
.projects {
    grid-template-columns:repeat(auto-fill, minmax(500px, 1fr)) ;
}
@media (max-width: 767px) {
    .projects {
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr)) ;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.projects .project .date {
    position: absolute;
    right: 10px;
    top: 10px;

}
.projects .project h4 {
    font-weight: normal;
}
.projects .project .team {
    position: relative;
    min-height: 80px;
}
.projects .project .team a  {
position: absolute;
left: 0;
bottom: 0;
}
.projects .project .team a:nth-child(2){
    left: 25px;
} 
.projects .project .team a:nth-child(3){
    left: 50px;
} 
.projects .project .team a:nth-child(4){
    left: 75px;
} 
.projects .project .team a:nth-child(5){
    left: 100px;
} 
.projects .project .team a:hover {
    z-index: 1000;
}
.projects .project .team img  {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects .project .techs {
    justify-content: flex-end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}
.projects .project .techs span {
    margin-left: 5px;
    width:fit-content;
}
.projects .project  .info {
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}

.projects .project .prog {
    height: 8px;
    width: 260px;
    position: relative;
    border-radius: 6px;
}
.projects .project .prog span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .projects .project .prog  {
        margin-bottom: 15px;
    }
    .projects .project  .info {
        flex-direction: column;
    }
    .projects .project .techs  {
        flex-direction: column;
    }
    .projects .project .techs span:not(:last-child) {
        margin-bottom: 15px;
    }
}
/* end project */
/* start courses */
.courses {
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
}

@media (max-width: 767px) {
    .courses
    {
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr)) ;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.courses .course {
    overflow: hidden;
}

.courses .course .cover {
    max-width: 100%;
}

.courses .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 20px;
    left: 20px;
    border: 2px solid white;
}
.courses .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;
}

.courses .course .info .title {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 13px;
    top: -13px;
    height: 27px;
}
/* end courses */
/* start friends */

.friends {
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)) ;
}

@media (max-width: 767px) {
    .friends
    {
        grid-template-columns:repeat(auto-fill, minmax(200px, 1fr)) ;
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.friends .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}
.friends .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transform: var(--transition);
}

.friends .contact i:hover {
    background-color: var(--blue-color);
    color: #fff;
}

.friends  .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.friends  .icons i {
    margin-right: 5px;
}

.friends  .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: .2;
}
/* end friends */
/* start files */
.files {
    flex-direction: row-reverse;
    align-items: flex-start;
} 
@media (max-width:767px) {
    .files {
        flex-direction: column;
        align-items: normal;
    }
}
.files .files-stat {
    min-width: 260px;
} 

.files .files-stat .icone {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files .files-stat .size {
    margin-left: auto;
} 
.files .files-stat .blue {
    background-color: rgb(0 117 255 / 20%);
} 
.files .files-stat .green {
    background-color: rgb(34 197 94 / 20%);
} 
.files .files-stat .red {
    background-color: rgb(244 67 54 / 20%);
} 
.files .files-stat .orange {
    background-color: rgb(254 158 11 / 20%);
} 
.files .files-stat .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
} 
.files .files-stat .upload:hover {
    background-color: var(--blue-alt-color);
} 

.files .upload:hover i {
    animation: go-up 0.8s infinite;
}

.files .files-cont {    
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
}

.files .files-cont img {    
    width: 64px;
    height: 64px;
    transition: var(--transition);
}

.files .files-cont .file:hover img  {    
    transform: rotate(5deg);
}

.files .files-cont .file .info {    
    border-top: 1px solid #eee;
}

@keyframes go-up {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
/* end files */
